*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}

/** HEADER NAVBAR**/

.navbar {
  height: 60px;
  background-color: #0F1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

/**NAVBAR FIRST BOX**/

.nav-logo {
  height: 50px;
  width: 120px;
}
.logo {
  background-image: url("amazon_logo.png");
  height: 50px;
  width: 100%;
  background-size: cover;
  cursor: pointer;
}

/** NAVBAR SECOND  BOX **/

.nav-address {
  cursor: pointer;
  height: 50px;
  width:110px;
}
.nav-add{
  display: flex;
  align-items: center;
}
.add-first {
  color: gray;
  font-size: 1rem;
  margin-left: 12px;
  margin-bottom: 5px;
}
.add-second {
  color: white;
  font-size: 2.5rem;
  margin-left: 6px;
}
/**SEARCH BOX **/
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 45px;
  width: 660px;
  border-radius: 3px;
}
.search-bar:hover{
  border:2px solid rgb(237, 179, 32);
  border-top: 4px solid rgb(237, 179, 32);
  border-bottom: 4px solid rgb(237, 179, 32);
}
.search-option{
  height: 52px;
  width: 60px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #f3f3f3;
  align-items: center;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  margin-right: -1px;
  cursor: pointer;
}
.search-box{
  height: 50px;
  width: 605px;
  padding-left: 15px;
  font-size: 23px;
  margin-left: -1px;
  border: none;
}
.search-logo{
  height: 52px;
  width: 63px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 179, 32);
  color: #0F1111;
  cursor: pointer;
  border: none;
}
/**4TH COUNTRY BOX **/
.country{
  height: 60px;
  width: 110px;
 display: flex;
 align-items: center;
 justify-content: left;
 cursor: pointer;
}
.flag{
  width: 20px;
  height: 15px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 3.5px;
}
.country-name{
  background-color: #0F1111;
  color: white;
  cursor: pointer;
  border: none;
}

/** 5TH SIGNIN BOX AND 6TH RETURNS BOX**/
.signin-box{
  height: 60px;
  width: 140px;
  cursor: pointer;
}
.return-box{
  height: 60px;
  width: 110px;
  cursor: pointer;
}
.nav-first{
  font-size: 0.7rem;
  margin-left: 6px;
}
.nav-second{
  margin-top: 4px;
  font-size: 1rem;
  margin-left: 6px;
}
/** 7TH CART BOX **/
.cart-box{
  cursor: pointer;
  height: 60px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-logo{
  font-size: 1.8rem;
}
.cart{
  font-size: 1rem;
}

/** Header PANEL **/

.panel{
  height: 35px;
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}
.panel-all{
  margin-left: 25px;
}
.panel-option {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.panel-option p{
  margin-left: 25px;
}
.panel-deals{
  font-weight: 700;
  margin-right: 25px;
}

/** HERO SECTION **/
.hero-section{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("hero_image.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.hero-section p{
color: black;
background-color: white;
height: 42px;
width: 90%;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
margin-bottom: 60px;
}
.hero-section a{ 
  color: #007185;
}